doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        .container
          a.navbar-brand.d-flex.align-items-center(href='#')
            img(src='/img/logo.png' alt='EduSphere Logo' class='logo mr-2')
            span EduSphere
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarNav
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='#features') Features
              li.nav-item
                a.nav-link(href='#testimonials') Testimonials
              li.nav-item
                a.nav-link(href='#contact') Contact
              li.nav-item
                a.nav-link(href='/login') Login
    .hero
      .container.text-center
        h1.display-4 Welcome to EduSphere
        p.lead The ultimate tool for university course management
        a.btn.btn-lg.btn-light(href='#features') Learn More
    .features#features
      .container
        h2.text-center.mt-5 Features
        .row.mt-4
          .col-md-4
            h3 Efficient Form Filling
            p Streamline the process of filling out forms for new courses.
          .col-md-4
            h3 Intelligent Professor Matching
            p Use AI to find the best-suited professors for each course based on their CVs.
          .col-md-4
            h3 AI-Powered Descriptions
            p Automatically generate course descriptions with the help of AI.
    .testimonials#testimonials
      .container
        h2.text-center.mt-5 Testimonials
        .row.mt-4
          .col-md-4
            .testimonial
              p "EduSphere has revolutionized the way I handle course management. It's incredibly efficient and accurate."
              footer
                cite &mdash; Dr. John Doe, University of Education
          .col-md-4
            .testimonial
              p "Finding the right professors for each course has never been easier. EduSphere saves us so much time."
              footer
                cite &mdash; Dr. Jane Smith, University of Knowledge
          .col-md-4
            .testimonial
              p "The AI-generated descriptions are spot-on and save a lot of manual work. Highly recommended!"
              footer
                cite &mdash; Dr. Alan Brown, University of Science
    .contact#contact
      .container
        h2.text-center.mt-5 Contact Us
        p.text-center If you have any questions or would like to learn more, feel free to get in touch.
        form(action='/contact' method='post')
          .form-group
            label(for='name') Name
            input.form-control(type='text' id='name' name='name' required)
          .form-group
            label(for='email') Email
            input.form-control(type='email' id='email' name='email' required)
          .form-group
            label(for='message') Message
            textarea.form-control(id='message' name='message' rows='4' required)
          button.btn.btn-primary(type='submit') Send Message
    footer.bg-dark.text-white.py-3
      .container
        .row
          .col-md-6
            p &copy; 2024 EduSphere
          .col-md-6.text-right
            a.text-white(href='#privacy') Privacy Policy
            | 
            a.text-white(href='#terms') Terms of Service
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
