doctype html

extends layout

block content
  .container
    h1 Login
    form(action='/login' method='post')
      .form-group
        label(for='email') Email
        input.form-control(type='email' id='email' name='email' required)
      .form-group
        label(for='password') Password
        input.form-control(type='password' id='password' name='password' required)
      if error
        .alert.alert-danger= error
      button.btn.btn-primary(type='submit') Login

html
  head
    title= title
  body
    h1 Login
    if error
      p.error= error
    form(action="/login", method="POST")
      label(for="email") Email:
      input(type="email", name="email", required)
      br
      label(for="password") Password:
      input(type="password", name="password", required)
      br
      button(type="submit") Login
    a(href="/register") Register