doctype html
extends layout

block content
  .container
    h1 Register
    form(action='/register' method='post')
      .form-group
        label(for='name') Name
        input.form-control(type='text' id='name' name='name' required)
      .form-group
        label(for='email') Email
        input.form-control(type='email' id='email' name='email' required)
      .form-group
        label(for='password') Password
        input.form-control(type='password' id='password' name='password' required)
      .form-group
        label(for='confirmPassword') Confirm Password
        input.form-control(type='password' id='confirmPassword' name='confirmPassword' required)
      if message
        .alert.alert-danger= message
      button.btn.btn-primary(type='submit') Register

html
  head
    title Register
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 Register
    form(action='/register' method='post')
      div
        label(for='name') Name:
        input(type='text' name='name' required)
      div
        label(for='email') Email:
        input(type='email' name='email' required)
      div
        label(for='password') Password:
        input(type='password' name='password' required)
      div
        label(for='confirmPassword') Confirm Password:
        input(type='password' name='confirmPassword' required)
      div
        button(type='submit') Register
    if message
      p #{message}
